{% extends 'layout.html' %}

{% block title%}
    Login
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <p><a href = "lost_password" class ="lost-password">If you forgot your password, click here</a></p>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}