{% extends 'layout.html' %}

{% block title%}
    Change password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="email" placeholder="Mail Adress" type="email">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="password" placeholder="Password" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="confirmation" placeholder="Confirmation" type="text">
        </div>
        <button class="btn btn-primary send-button" type="submit">Create!</button>
    </form>
{% endblock %}