:root {
  --sub-color: #a59aca;
  --ac-color: gray;
}


body {
  background-color: #dcdddd;
}

header {
  background-color: var(--sub-color);
}

footer {
  position: absolute;
  bottom: 0;
}

form {
	display: block;
  padding-left: 5vw;
	max-width: 100vw;
	max-height: 100vh;
}

.set-username {
  display: block;
  padding: .5rem 1rem;
}

.logo-kana {
  font-family: "Ravi Prakash", cursive;
}

.bg-color {
  border-top: solid 3px white;
  border-bottom: solid 3px white;
}

.index-list {
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: var(--ac-color);
  width: 60vw;
  text-align: left;
  border: none;
}

.index-list:hover {
  width: 75vw;
  height: 100%;
}

input[type="text"] {
  width: 60vw;
  font-size: 2rem;
  border:none;
  background: none;
  border-bottom: solid 2px var(--sub-color);
  border-radius: 0em;
}

input[type="email"] {
  width: 60vw;
  font-size: 2rem;
  border:none;
  background: none;
  border-bottom: solid 2px var(--sub-color);
  border-radius: 0em;
}

input[type="password"] {
  width: 60vw;
  font-size: 2rem;
  border:none;
  background: none;
  border-bottom: solid 2px var(--sub-color);
  border-radius: 0em;
}

input[type="url"] {
  width: 60vw;
  font-size: 2rem;
  border:none;
  background: none;
  border-bottom: solid 2px var(--sub-color);
  border-radius: 0em;
}

input[type="text"]:focus {
  width: 80vw;
  font-size: 3rem;
}

input[type="email"]:focus {
  width: 80vw;
  font-size: 3rem;
}

input[type="password"]:focus {
  width: 80vw;
  font-size: 3rem;
}

input[type="url"]:focus {
  width: 80vw;
  font-size: 3rem;
}

.list-title {
  font-size: 1.7rem;
  width: 85vw;
  color: var(--ac-color);
  padding-left: 5vw;
}

.form {
  background-color: white;
}

.a-button {
  padding-bottom: 1em;
  color: var(--ac-color);
  border-bottom: solid 2px var(--sub-color);
}

.a-button:hover {
  color: var(--sub-color);
  font-size: 120%;
}

.a-button-reset {
  background: none;
  border: none;
  color: var(--ac-color);
  border-bottom: solid 2px var(--sub-color);  
}

.a-button-reset:hover {
  color: var(--sub-color);
  font-size: 120%;
}

.lost-password {
  font-size: 3vw;
  padding-left: 1vw;
  color: var(--ac-color);
}

.send-button {
  border: solid 2px var(--sub-color);
  background: white;
  color: var(--ac-color);
  position: absolute;
  left: 30%;
  margin-top: 2em;
  font-size: 4vh;
}

.logout-text {
  font-size: 6em;
  position: absolute;
  color:  var(--ac-color);
  top: 30%;
  left: 30%
}

.add-tag {
  color: var(--ac-color);
  border: solid 2px var(--sub-color);
}

.is-notification {
  font-size: 2rem;
  color: var(--ac-color);
  border-bottom: solid 2px var(--sub-color);
}

.error-img {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 60%;
  height: 60%;
}

.error-msg {
  font-size: 4vh;
  color: var(--ac-color);
  position: relative;
  margin-top: -5vh;
}

/* Mobile Size */
@media screen and (max-width: 600px) {
  .index-list {
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 1rem;
  }
}